* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  header {
    height: 100px;
    width: 100%;
    background-color: rgb(	119,136,153);
  }

  body{
    background-color: rgba(192,192,192);
  }